body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  min-width: 280px;
  background: white;
  font-size: 14px;
}

.domain-suffix {
  color: #999;
}

.domain-prefix {
  color: #F00;
  text-decoration: line-through;
}

.search input {
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  border: 0;
  border-bottom: 1px solid #bbb;
  background: url("node_modules/material-design-icons/action/1x_web/ic_search_black_24dp.png") center right 6px / 16px 16px no-repeat;
  padding-right: 20px;
}

.search input:focus {
  outline: 0;
}

.status-text {
  padding: 6px;
}
.results {
  width: 100%;
  min-width: 160px;
}

.login {
  display: flex;
}

.login-auto {
  flex: 1 0 80%;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding: 12px 6px 12px 32px;
  cursor: pointer;
  border: 0;
  border-bottom: 1px dotted #ccc;
  /* background-image will be set dynamically */
  background: white none left 8px center / 16px 16px no-repeat;
  text-align: left;
}

.login-copy {
  flex: 0 0 44px;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding: 12px;
  cursor: pointer;
  border: 0;
  border-bottom: 1px dotted #ccc;
  text-align: left;
  background: white url("node_modules/material-design-icons/content/1x_web/ic_content_copy_black_24dp.png") center center / 24px 24px no-repeat;
  line-height: 1.2;
}

.login:last-of-type button {
  border-bottom: 0;
}

.login-auto:hover,
.login-auto:focus,
.login-copy:hover,
.login-copy:focus {
  outline: 0;
  background-color: #eee;
}

.loader {
  margin: 12px auto;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #000000;
  -webkit-transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  border-radius: 50%;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.pin-entry form {
  margin-bottom: 5px;
}

.pin-entry input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  border: 0;
  border-bottom: 1px solid #bbb;
  background: url("node_modules/material-design-icons/action/1x_web/ic_lock_open_black_24dp.png") center right 6px / 16px 16px no-repeat;
}

.pin-entry input[type="password"]:focus {
  outline: 0;
}

.pin-entry input[readOnly] {
  background: #bbb;
}

.pin-entry input[type="checkbox"] {
  vertical-align: middle;
}

.pin-entry label span {
  vertical-align: middle;
}

.info {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 2px 8px 2px;
}

.info .fingerprint-info {
  background: url("node_modules/material-design-icons/communication/1x_web/ic_vpn_key_black_24dp.png") center left 2px / 16px 16px no-repeat;
  padding: 6px 6px 6px 20px;
}

.info .reader-info {
  background: url("node_modules/material-design-icons/hardware/1x_web/ic_sim_card_black_24dp.png") center left 2px / 16px 16px no-repeat;
  padding: 6px 6px 6px 20px;
}
